@import "../../styles/colors.scss";

#header {
  width: 100%;
  margin-bottom: 1.5rem;

  h1 {
    font-size: 7vw;
    font-family: "Pacifico", cursive;
    color: $light-crimson;
    text-align: center;
  }
}

@media (min-width: 650px) {
  #header {
    margin-bottom: 2rem;

    h1 {
      font-size: 3.5rem;
    }
  }
}
