@import "../../styles/colors.scss";

#statusinfo-wrapper {
  width: 100%;
  padding: 1.25rem 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: $section-bg;
  box-sizing: border-box;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);

  #countdown-timer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: min(2.5rem, 7vw);
      color: $light-crimson;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-size: 1.25rem;
      color: $light-crimson;
      margin-bottom: 0.25rem;
    }

    h4 {
      font-size: 1.35rem;
      color: $light-crimson;
      margin-bottom: 0rem;
    }

    #countdown-timer {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .countdown-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:last-of-type {
          width: 17vw;
        }

        h1 {
          font-size: 12.5vw;
          line-height: 14.5vw;
          color: $dark-crimson;
        }

        p {
          font-size: 3.5vw;
          line-height: 4.5vw;
          color: $light-crimson;
        }
      }
    }
  }

  #live-lottery-wrapper {
    width: 100%;

    h1 {
      font-size: 7vw;
      text-align: center;
      font-weight: 600;
      color: $dark-crimson;
      margin-bottom: 0.75rem;
    }

    h4 {
      font-size: 4.5vw;
      text-align: center;
      color: $light-crimson;
      margin-bottom: 0.5rem;
    }

    div {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      a {
        width: 100%;
        text-decoration: none;
        color: #fff;
        padding: 0.15rem 1rem 0.15rem 0.6rem;
        margin: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;

        img {
          height: 2rem;
          width: 2rem;
          object-fit: contain;
          margin-right: 0.5rem;
        }
        p {
          font-size: 0.9rem;
          font-weight: 600;
        }
      }

      #link-tve {
        background-color: #658ee9;
        &:hover {
          background-color: #4e6fb6;
        }
      }
      #link-rne {
        background-color: #e97c7c;
        &:hover {
          background-color: #c75353;
        }
      }
      #link-elpais {
        color: #000;
        background-color: #ffffff;
        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }

  #finished-lottery-wrapper {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 6vw;
      color: $dark-crimson;
      margin-bottom: 0.25rem;
    }

    h4 {
      font-size: 3.5vw;
      color: $light-crimson;
      padding: 0 0.5rem;
    }
  }
}

@media (min-width: 650px) {
  #statusinfo-wrapper {
    padding: 1.5rem;

    #countdown-timer-wrapper {
      h2 {
        font-size: min(6.5vw, 3.5rem);
      }
      h3 {
        font-size: 2rem;
      }
      h4 {
        font-size: 1.6rem;
      }

      #countdown-timer {
        .countdown-item {
          &:last-of-type {
            width: 16vw;
          }

          h1 {
            font-size: 12vw;
            line-height: 12.5vw;
          }
          p {
            font-size: 3vw;
            line-height: 3.5vw;
          }
        }
      }
    }

    #live-lottery-wrapper {
      h1 {
        font-size: 6vw;
        margin-bottom: 0.75rem;
      }

      h4 {
        font-size: 2.5vw;
        margin-bottom: 0.5rem;
      }

      div {
        width: 100%;
        max-width: 350px;

        a {
          padding: 0.15rem 1rem;
          margin: 0.25rem 0.5rem;

          img {
            height: 2.25rem;
            width: 2.25rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }

    #finished-lottery-wrapper {
      h1 {
        font-size: min(6vw, 3.75rem);
        margin-bottom: 0.25rem;
      }

      h4 {
        color: $light-crimson;
        font-size: min(3vw, 1.5rem);
      }
    }
  }
}

@media (min-width: 1200px) {
  #statusinfo-wrapper {
    #countdown-timer-wrapper {
      h3 {
        font-size: 2.25rem;
      }
      h4 {
        font-size: 1.75rem;
      }

      #countdown-timer {
        max-width: min(950px, 70vw);
        .countdown-item {
          &:last-of-type {
            width: min(15vw, 10rem);
          }

          h1 {
            font-size: min(10vw, 9rem);
            line-height: min(10.5vw, 9.25rem);
          }
          p {
            font-size: min(2vw, 2rem);
            line-height: min(2.5vw, 2.25rem);
          }
        }
      }
    }

    #live-lottery-wrapper {
      h1 {
        font-size: 5rem;
        margin-bottom: 1rem;
      }

      h4 {
        font-size: 1.75rem;
        margin-bottom: 0.75rem;
      }

      div {
        width: 100%;
        max-width: none;
        flex-direction: row;

        a {
          width: auto;
          padding: 0.15rem 1.5rem;
        }
      }
    }

    #finished-lottery-wrapper {
      h1 {
        font-size: 4rem;
        margin-bottom: 0.25rem;
      }

      h4 {
        color: $light-crimson;
        font-size: 1.5rem;
      }
    }
  }
}
