@import "../../styles/colors.scss";

#tickets {
  box-sizing: border-box;
  width: 100%;
  border-radius: 1rem;
  background-color: $section-bg;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem 1.5rem;

  #tickets-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      color: $light-crimson;
    }

    #add-ticket-header {
      padding: 0.35rem 0.5rem;
      border: 1px solid $light-crimson;
      background-color: rgba($light-crimson, 0.15);
      text-align: center;
      font-size: 1.1rem;
      font-weight: 600;
      color: $dark-crimson;

      span {
        font-size: 1.15rem;
        font-weight: 900;
      }

      &:hover {
        background-color: rgba($light-crimson, 0.4);
      }
    }
  }

  #aggregate-data {
    width: 100%;
    max-width: 375px;
    padding: 1rem 0;
    margin: 0 auto 1.5rem;
    background-color: $red;
    color: white;
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-evenly;

    .aggregate-item {
      text-align: center;

      h4 {
        font-size: 0.9rem;
        font-weight: 600;
      }

      p {
        font-size: 2rem;
        line-height: 2.15rem;
        font-weight: 600;
      }
    }
  }

  #tickets-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 1rem;

    #add-ticket {
      position: relative;
      width: 100%;
      padding-top: 58%;
      border: 1px solid $light-crimson;
      background-color: rgba($light-crimson, 0.15);

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 1.15rem;
        font-weight: 600;
        color: $dark-crimson;

        span {
          font-size: 1.25rem;
          font-weight: 900;
        }
      }

      &:hover {
        background-color: rgba($light-crimson, 0.4);
      }
    }

    #add-ticket-mobile {
      width: 100%;
      padding: 0.35rem 0;
      border: 1px solid $light-crimson;
      background-color: rgba($light-crimson, 0.15);
      text-align: center;
      font-size: 1.15rem;
      font-weight: 600;
      color: $dark-crimson;

      span {
        font-size: 1.25rem;
        font-weight: 900;
      }

      &:hover {
        background-color: rgba($light-crimson, 0.4);
      }
    }
  }

  #no-tickets {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color: $light-crimson;
    padding: 2rem 0;
    margin-top: 1rem;
  }
}

@media (min-width: 650px) {
  #tickets {
    padding: 1.25rem 2rem 2rem;

    #tickets-header {
      justify-content: space-between;
      margin-bottom: 1rem;

      h2 {
        font-size: 2rem;
      }
    }

    #aggregate-data {
      max-width: 450px;
      padding: 1rem 0;
      margin: 1rem auto 2rem;

      .aggregate-item {
        h4 {
          font-size: 1.25rem;
        }

        p {
          font-size: 3rem;
          line-height: 3.25rem;
        }
      }
    }

    #tickets-grid {
      grid-template-columns: 1fr 1fr;
      gap: 1.25rem 1.25rem;
    }

    #no-tickets {
      padding: 4rem 0;
      font-size: 1.25rem;
    }
  }
}

@media (min-width: 1200px) {
  #tickets {
    #tickets-header {
      margin-bottom: 1rem;

      h2 {
        font-size: 2.25rem;
      }
    }

    #aggregate-data {
      max-width: 550px;

      .aggregate-item {
        h4 {
          font-size: 1.5rem;
        }

        p {
          font-size: 3.35rem;
          line-height: 3.5rem;
        }
      }
    }

    #tickets-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }

    #no-tickets {
      font-size: 1.5rem;
    }
  }
}
